<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>9</key>
	<dict>
		<key>猎人</key>
		<integer>1</integer>
		<key>白痴</key>
		<integer>0</integer>
		<key>女巫</key>
		<integer>1</integer>
		<key>白狼王</key>
		<integer>0</integer>
		<key>守卫</key>
		<integer>0</integer>
		<key>预言家</key>
		<integer>1</integer>
		<key>平民</key>
		<integer>3</integer>
		<key>狼人</key>
		<integer>3</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>猎人</key>
		<integer>1</integer>
		<key>白痴</key>
		<integer>0</integer>
		<key>女巫</key>
		<integer>1</integer>
		<key>白狼王</key>
		<integer>0</integer>
		<key>守卫</key>
		<integer>0</integer>
		<key>预言家</key>
		<integer>1</integer>
		<key>平民</key>
		<integer>4</integer>
		<key>狼人</key>
		<integer>3</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>猎人</key>
		<integer>1</integer>
		<key>白痴</key>
		<integer>1</integer>
		<key>女巫</key>
		<integer>1</integer>
		<key>白狼王</key>
		<integer>0</integer>
		<key>守卫</key>
		<integer>0</integer>
		<key>预言家</key>
		<integer>1</integer>
		<key>平民</key>
		<integer>3</integer>
		<key>狼人</key>
		<integer>4</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>猎人</key>
		<integer>1</integer>
		<key>白痴</key>
		<integer>0</integer>
		<key>女巫</key>
		<integer>1</integer>
		<key>白狼王</key>
		<integer>1</integer>
		<key>守卫</key>
		<integer>1</integer>
		<key>预言家</key>
		<integer>1</integer>
		<key>平民</key>
		<integer>4</integer>
		<key>狼人</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
