<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DayDayWolfmanKill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F1C95E01E5AD126001DB5E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1C95F41E5AD126001DB5E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1C95FF1E5AD126001DB5E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
